<h1 id="tableLabel">Contact list</h1>

<p *ngIf="!contacts"><em>Loading...</em></p>

<div>
  <button class="btn btn-outline-secondary"
          type="button"
          (click)="createContact()">
    Create
  </button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="contacts">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.id }}</td>
      <td>{{ contact.name }}</td>
      <td>{{ contact.surname }}</td>
      <td>{{ contact.address }}</td>
    </tr>
  </tbody>
</table>
