<form novalidate #form="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="contact.name"
            name="name"
            maxlength="30"
            minlength="1"
            #name="ngModel"
            [class.invalid]="name.invalid && name.touched" />
  </div>

  <div class="form-group">
    <label for="surname">Surname</label>
    <input class="form-control"
            id="surname"
            required
            [(ngModel)]="contact.surname"
            name="surname"
            maxlength="50"
            minlength="1"
            #surname="ngModel"
            [class.invalid]="surname.invalid && surname.touched" />
  </div>

  <div class="form-group">
    <label for="address">Address</label>
    <input class="form-control"
            id="address"
            required
            [(ngModel)]="contact.address"
            name="address"
            maxlength="50"
            minlength="1"
            #address="ngModel"
            [class.invalid]="address.invalid && address.touched" />
  </div>

  <button (click)="createContact()" class="btn btn-success" [disabled]="form.invalid">Create</button>
</form>
